* {
    box-sizing: border-box;
}

body {
    width:80%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: deepskyblue;
}

img {
    width: 135px;
    height: 135px;
    margin: 2px;
}

div {
    margin: 10px;
}

#gewonnen {
    padding: 20px;
    visibility: hidden;
    width: 274px;
    height: auto;
    font-size: 20px;
    text-align: center;
    background-color: yellow;
    border: 3px solid black;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 40%;
}

div#player2 {
    float: right;
}

div.players, div#aandebeurt {
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    width: 100%;
}

#fotos {
    width: 838px;
    font-size: 0;
    float:left;
    position: relative;
    left: 15%;
    background-color: ghostwhite;
    top: 100px;
    border: 2px solid black;
}
div#aandebeurt {
    position: absolute;
    left: 40%;
    width: auto;
    height: auto;
    background-color: deeppink;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
}
div.players {
    border: 2px solid black;
    width: auto;
    height: auto;
    background-color: yellow;
    text-align: center;
}